<div class="container">
    <div class="loader">
        <h2 style="font-size: 3rem;padding: 4rem 0 2rem;">Bare with us! <br> We are gathering results for
            your
            linkUp.
        </h2>

        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="results">
        <h2 style="font-size: 3rem">Here's what we've got for you!</h2>
        <h4 style="font-size: 2rem">Your event will start at: {{event.time}}</h4>
        {{#each event}}
        <div class="row">
            <div class="card blue-grey darken-3">
                <div class="card-content white-text">
                    {{#if this.name}}
                    <div class="space-between"><span class="card-title">{{this.name}}</span>
                        {{/if}}
                        <p>{{this.price}}</p>
                    </div>
                    <p>{{this.location.address1}} {{this.location.city}}
                        , {{this.location.state}} {{this.location.zip_code}}
                    </p>
                </div>
                <div class="card-action">
                    <a style="margin: 0" href="{{this.url}}" target="_blank">View on Yelp</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
</div>
{{!-- 
<script src="../public/result.js"></script> --}}